* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 200vh;
    background-image: linear-gradient(rgba(22, 136, 58, 0.8), rgba(0, 0, 50, 0.8)), url(./quiz/image/nature.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box {
    width: 190%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 70px 60px 90px;
    text-align: center;
}

.form-box h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #668f4a;
    position: relative;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #668f4a;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

form p {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #668f4a;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    flex-basis: 48%;
    background: #668f4a;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-top: 90px;
}

.btn-field button {
    flex-basis: 48%;
    background: #668f4a;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    margin-top: 90px;
}

.input-group {
    height: 280px;
}

.btn-field button.disable {
    background: #eaeaea;
    color: #555;
}

.button-link {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #29a849;
    color: #fff;
}

.button-link i {
    /* Additional styling for the icon if needed */
    margin-right: 5px;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 0rem;
    width: 100%;
}

header .logo {
    color: var(--green);
    font-size: 2rem;
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    height: 20px;
}

header .navbar ul li {
    margin: 0 1rem;
}

header .navbar ul li a {
    font-size: 1.5rem;
    color: #666;
}

header .navbar ul li a:hover {
    color: var(--green);
}

header .fa-bars {
    font-size: 1rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.lii {
    padding-left: 500px;
}